.delani_studio{
  background-image: url('../imgs/h_img.jpg');
  background-position: center; 
  background-size:auto;
  background-repeat: no-repeat;
}

p{
  text-align: center;
  
}

.services{
  background-image: url('../imgs/s_image.jpg');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
  
.row {
  display: flex;
  justify-content: space-evenly;
}

.column {
  flex: 30%;
  padding: 3px;
}

.Contact_Us{
  background-image: url('../imgs/c_image.jpg');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

.social-icons {
  text-align: center;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:70px;
  height:70px;
  margin-right: 20px;
}

input,textarea{
  background-color: initial;
}
.image1:hover{
  cursor: pointer;
}

#p1{
  display: none;
}

.image2:hover{
  cursor: pointer;
}

#p2{
  display: none;
}

.image3:hover{
  cursor: pointer;
}

#p3{
  display: none;
}

#work1{
  display:none
}

.Proj-1:hover{
 cursor: pointer;
}
